@import url('https://fonts.googleapis.com/css?family=Lato:200,400,900');

*, *::before, *::after{
  -moz-box-sizing: border-box;
       box-sizing: border-box;

  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

html, body{
  font-family: 'Lato',sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.product{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

figcaption{
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  text-align: center;
  font-weight: bold;
	width: 9rem;
	height: 3rem;
  display: table;
	margin: auto;
}

figcaption div{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 20px;
  opacity: 0;
  color: #2c3e50;
  text-transform: uppercase;
}

figcaption div:after{
  position: absolute;
  content: "";
  left: 0; right: 0;
  bottom: 40%;
  text-align: center;
  margin: auto;
  width: 0%;
  height: 2px;
  background: #2c3e50;
}

.product img{
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.product:hover figcaption{
 background: rgba(255,255,255,0.3);
}

figcaption:hover div{
  opacity: 1;
  top: 0;
}

figcaption:hover div:after{
  width: 50%;
}

.product:hover img{
  -webkit-transform: scale3d(1.1, 1.1, 1);
          transform: scale3d(1.1, 1.1, 1);
}


.bv_nav {
	background-color: #323f48;
}

.navbar-burger span {
  background-color: white;
}

#navMenu {
    margin-left: 5rem;
}

.navbar-item {
	color: white;
	font-size: .8rem;
	font-weight: 600;
}

.navbar-start {
	margin: 0 auto;
}

.bv_main {
	height: 80vh;
	background: url("assets/headerOptimized.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 80% 20%;
}

.bv_main h1,
.bv_beehive h1,
.bv_faq h1 {
	font-weight: 900;
	font-size: 9vw;
	line-height: 10vw;
}

.bv_main .hero-body {
	padding-top: 5rem;
}

.bv_main_copy {
	color: white;
	font-size: 4rem;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 4rem
}


.bv_mission {
	height: 100%;
	background: url("assets/mission.png");
	background-repeat: no-repeat;
	background-size: 50vw;
	background-position: top right 1rem;
}

.bv_mission h1{
	font-weight: 900;
	font-size: 10vw;
	color: black;
}

.bv_mission p {
	font-weight: 400;
	font-size: 1.7vw;
	color: black;
}

.bv_beehive {
	height: 100%;
	background: url("assets/beehive.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 80% 20%;
}

.bv_beehive h1{
	font-weight: 900;
	font-size: 10vw;
	color: white;
}

.bv_beehive p {
	font-weight: 400;
	font-size: 1.7vw;
	color: white;
}

.bv_pens {
	margin: 0 0 3rem 0;
}

.bv_shop {
	margin: 0rem 3rem 5rem 3rem;
}

.bv_events {
	margin-bottom: 3rem;
}

.bv_locate {
	height: 80vh;
	padding:  0 5rem;
}


/*
	Media queries
*/
@media (max-width: 768px) {
	.bv_locate {
		height: 90vh;
		padding: 0;
	}
	#m-r {
		margin-right: 0 !important;
	}
	#calendar {
    padding: 0 !important;
	}
	.bv_main .hero-body {
		padding-top: 10rem;
	}
	.bv_main h1 {
    line-height: 14vw;
	}
	.bv_mission p{
		font-size: 2vw;
	}
}


/*
	Phone screens
*/
@media (max-width: 590px) {
	.bv_main {
		height: 60vh;
	}
	.bv_main h1 {
		font-size: 10vw;
    line-height: 12vw;
	}
	.bv_mission p,
	.bv_beehive p {
		font-size: 4vw;
	}
	.bv_faq {
		margin: 0 !important;
	}
}


@-ms-viewport{
  width: device-width;
}

.bv_faq {
	margin: 3rem;
	height: 100%;
	background: url("assets/FAQ.png");
	background-repeat: no-repeat;
	background-size: 50vw;
	background-position: top right 1rem;
}

.bv_faq .box {
	padding: 0;
}


#collector .modal-content {
	width: 90vw;
}

#collector .input {
	background-color: #9ba1a5;
	border: solid 0 transparent;
}

.hero {
	background-color: #323f48;
}

.email {
	position: relative;
	bottom: 7rem;
}

.centered {
	margin: 0 auto;
}

.input {
	border-radius: 0;
}

.enterToWin {
	font-weight: 900;
	font-size: 2rem;
	color: white;
}

#m-r {
	margin-right: .5rem !important;
}

.tile {
	margin: .5rem !important;
}

input {
	color: black;
	font-weight: 200;
	font-size: 1.5rem;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
	font-weight: 200;
	font-size: 1.5rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
	font-weight: 200;
	font-size: 1.5rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
	font-weight: 200;
	font-size: 1.5rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
	font-weight: 200;
	font-size: 1.5rem;
}

#formSubmit {
	background-color: #19a3a9;
	border: none;
	border-radius: 0;
	font-weight: 900;
	font-size: 1.3rem;
	color: #323f48;
}

#formSubmit:hover {
	background-color: #0d595d;
	color: white;
}

.noThanks {
	color: #787878 !important;
	text-decoration: none !important;
	font-weight: 900;
}

.noThanks:hover {
	color: #787878 !important;
	text-decoration: none !important;
	font-weight: 900;
	background-color: transparent !important;
}

#calendar {
	padding: 5rem;
}

.product:hover {

}

/* FAQ Section, CSS tabs */
.bv_faq .tab-content{
	display: none;
}

.bv_faq .tab-content.is-active{
	display: block;
}

.bv_faq .no-select, h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bv_faq ul {
  list-style: none !important;
}

.bv_faq ul li {
  position: relative;
  padding: 0;
  margin: 0;
  width: 95%;
}

.bv_faq ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}

.bv_faq ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}

.bv_faq ul li:nth-of-type(3) {
  animation-delay: 1s;
}

.bv_faq ul li:last-of-type {
  padding-bottom: 0;
}

.bv_faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 7px;
  right: 0;
}

.bv_faq ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}

.bv_faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

.bv_faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

.bv_faq ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.bv_faq ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

.bv_faq ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}

.bv_faq ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}


.faqs .content h2 {
    font-size: 1.1em;
    margin-bottom: .5714em;
		font-weight: 900;
}

.faqs .content h2:not(:first-child) {
    margin-top: 1.0rem;
}


.faq_text {
	font-weight: 200;
	max-width: 97%;
}

.padded {
	padding: 1rem;
}


.tabs.is-boxed li.is-active a {
	border-color: black;
}

.tabs ul {
	border-bottom: 1px solid #000;
}

.faqs {
	border: 1px solid black;
	border-top-color: transparent;
	position: relative;
	bottom: 1.5rem;
}
